<%- include('../partials/header') %>

<main>
  <div class="item-detail">
    <div class="item-info">
      <h2><%= item.name %></h2>
      <img src="<%= item.image %>" alt="<%= item.name %>" width="200" />
      <div class="item-info">
        <p>Seller: <%= item.seller.firstName %> <%= item.seller.lastName %></p>
        <p>Condition: <%= item.condition %></p>
        <p>Price: $<%= item.price %></p>
        <p>Details: <%= item.description %></p>
      </div>

      <% if (user && user.id === item.seller._id.toString()) { %>
      <div class="buttons">
        <button class="edit-btn">
          <a href="/items/<%= item.id %>/edit">Edit</a>
        </button>
        <form action="/items/<%= item.id %>?_method=DELETE" method="POST">
          <button class="delete-btn" type="submit">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
